/* Mobile devices (Portrait and Landscape) */
@media screen and (max-width: 767px) {
    /* Styles for mobile devices go here */
}

/* Tablets (Portrait and Landscape) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles for tablets go here */
}

/* Laptops and smaller desktops */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    /* Styles for laptops go here */
}

/* Desktops (Large screens) */
@media screen and (min-width: 1441px) {
    /* Styles for desktops go here */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

label {
    margin-top: 10px;
}

input {
    padding: 5px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#tracking-details {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
}